<form class="" action="/restaurants" method="post">
  Name: <input type="text" name="name" value="">
  Rating: <input type="text" name="rating" value="">
  Address: <input type="text" name="address" value="">
  <input type="submit" name="" value="Submit">
</form>
