<h1>Add a Restaurant</h1>

<h3>Search Yelp for a Cuisine in Your City</h3>
<form action="/restaurants/search" method="post">
  <p>
  <label for="city">City: </label>
  <input type="text" name="city" id="city"/>
  </p>
  <p>
  <label for="cuisine">Cuisine: </label>
  <input type="text" name="cuisine" id="cuisine"/>
  </p>
  <input class="submit_btn" type="submit" value="Submit">
</form>

<form class="" action="/restaurants" method="post">
  <p>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="rating">Rating: </label>
    <input type="text" name="rating" id="rating">
  </p>
  <p>
    <label for="address">Address: </label>
    <input type="text" name="address" id="address">
  </p>
    <input class="submit_btn" type="submit" value="Submit">
</form>
