<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title></title>
</head>
<body>
  <a href="/restaurants/new">Add a Restaurant</a>
  <a href="/users/new">Add a User</a>
  <a href="/users">See All Users</a>
  <a href="/restaurants">See All Restaurants</a>
  <%= yield %>
</body>
</html>